body{
    background-color: #f0f1f2;
    overflow: hidden;
}

.width-spacing{
    max-width: 96vw;
}

.height-spacing {
    margin: 4% 0;
}

.background {
    background-image: url('../../assets/img/2183826.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
}

div#navbarSupportedContent{
    float: right;
    z-index: 1000;
}

nav a.brand img{
    height: 10vh;
    position: fixed;
    left: -2px;
    top: -6px;
}

nav.employee-bg{
    background-color: #4792d2;
}

nav.customer-bg{
    background-color: #ace395;
}

.main-col {
    height: 92vh;
}

.main-row {
    max-height: 92vh;
}

.login-wrapper {
    min-width: 33%;
    max-width: 98%;
    margin: 4% 0 4% 0;
}

.home-card{
    overflow-y: auto;
    max-height: 100%;
}

div#error-box{
    position: fixed;
    top: 9vh;
    left: 10vw;
    right: 10vw;
    text-align: center;
    font-size: clamp(1.2rem, 1.4vmax, 1.6rem);
    z-index: 1001;
    max-width: 80%;
}

.btn-greentheme {
    color: #000000;
    background-color: #abe195;
}

.btn-greentheme:hover {
    color: #ffffff;
    background-color: #5a6268;
}

.btn-greentheme:focus, .btn-greentheme.focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

p.p-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 2560px){
    .login-wrapper{
        max-width: 35%;
    }
}

@media screen and (max-width: 2560px){
    .login-wrapper{
        max-width: 35%;
    }
}

@media screen and (max-width: 1920px){
    .login-wrapper{
        max-width: 35%;
    }
}

@media screen and (max-width: 1400px){
    .login-wrapper{
        max-width: 45%;
    }
}

@media screen and (max-width: 1200px){
    .login-wrapper{
        max-width: 50%;
    }
}

@media screen and (max-width: 992px){
    .login-wrapper{
        max-width: 65%;
    }
}

@media screen and (max-width: 768px){
    .login-wrapper{
        max-width: 80%;
        margin: 4% 0 20% 0;
    }
}

@media screen and (max-width: 575px){
    .login-wrapper{
        max-width: 90%;
        margin: 4% 0 20% 0;
    }
}

@media screen and (max-width: 384px) and (max-height: 854px){
    .login-wrapper{
        max-width: 90%;
        margin: 4% 0 30% 0;
    }
}

@media screen and (max-width: 320px){
    .login-wrapper{
        max-width: 95%;
        margin: 4% 0 20% 0;
    }
}

/*
SCROLLBARS
*/
.loginpage::-webkit-scrollbar {
    display: block;
}

/* Hide scrollbar for IE, Edge and Firefox */
.loginpage {
    border-radius: 3%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #393a3c;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: white;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: white;
}
::-webkit-scrollbar-track:active {
    background: white;
}
::-webkit-scrollbar-corner {
    background: transparent;
}


/* Verbruiksmeter: Ryan */
.header-stroom {
    color: white;
    font-size: 100%;
    background: url("/assets/img/stroom.jpg");
    background-size: cover;
    padding: 0px;
    text-align: center;
}

.header-gas {
    color: white;
    font-size: 100%;
    background: url("/assets/img/gasplaatje.jpg");
    background-size: cover;
    padding: 0px;
    text-align: center;
}

.header-eigen {
    color: white;
    font-size: 100%;
    background: url("/assets/img/groenestroom.jpg");
    background-size: cover;
    padding: 0px;
    text-align: center;
}

.verbruiksmeter-header {
    background-color: #6aa84f;
}

.vebruiksmeter-cardbody {
    background-color: #d9ead3;
}

.energie-kaart {
    border-color: black;
    margin: 1%;
    height: 33%;
}

.landelijk-button {
    width: 100%;
    color: white;
    font-size: 100%;
    background-color: #6aa84f;
    border-color: black;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    font-weight: bolder;
}

.lokaal-button {
    width: 100%;
    color: white;
    font-size: 100%;
    background-color: #6aa84f;
    border-color: black;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    font-weight: bolder;
}

.Locatie-Afbeelding {
    width: 80%;
    border-radius: 5%;
}

.card-vergelijken {
    text-align: center;
    border-color: black;
    margin: 1%;
    max-height: 100vh;
    overflow-y: auto;
}

.card-verbruik {
    text-align: center;
    border-color: black;
    margin: 1%;
    height: 90vh;
    overflow-y: auto;
}

.verbruiksmeter-card {
    margin-bottom: 1%;
}

.accordion-provinciaal {
    background-color: #6aa84f;
    color: white;
    cursor: pointer;
    padding: 5%;
    width: 100%;
    font-size: 100%;
    transition: 0.4s;
    border-color: black;
    border-radius: 5%;
    font-weight: bolder;
}

.panel {
    display: none;
    background-color: #d9ead3;
    overflow: hidden;
}

.provincie-button {
    width: 100%;
    background-color: #ace395;
    color: gray;
    border-radius: 5%;
    margin: 0.5%;
    font-weight: bolder;
}

.scrollable{
    max-height: 92vh;
    overflow-y: auto;
}

.invis-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.invis-scrollbar::-webkit-scrollbar {
    display: none;
}
