nav.employee-bg{
    background-color: #4792d2;
}

nav.customer-bg{
    background-color: #ace395;
}

body{
    background-color: #f0f1f2;
}



.btn-greentheme {
    color: #000000;
    background-color: #abe195;
}

.btn-greentheme:hover {
    color: #ffffff;
    background-color: #5a6268;
}

.btn-greentheme:focus, .btn-greentheme.focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

p.p-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

input#privacy-statement:checked{
    background-color: #ace395; !important;
}

div#navbarSupportedContent{
    float: right;
    z-index: 1000;
}